APP_NAME=SkyNet

APP_ENV=development

APP_PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=skynet
DB_USER=root
DB_PASSWORD=password

JWT_SECRET=CHANGE_THIS_SECRET

REDIS_HOST=localhost
REDIS_PORT=6379

GENIEACS_URL=http://localhost:7557

MIKROTIK_HOST=
MIKROTIK_USER=
MIKROTIK_PASSWORD=

WA_PROVIDER=

MIDTRANS_SERVER_KEY=

XENDIT_API_KEY=